<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Editable Tables | Okler Themes | Porto-Admin</title>
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link
            rel="stylesheet"
            type="text/css"
            href="../../static/build/main_css.bundle.css"
    />


    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="../../static/build/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../../static/build/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="../../static/build/assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="../../static/build/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="../../static/build/assets/vendor/select2/select2.css" />
    <link rel="stylesheet" href="../../static/build/assets/vendor/jquery-datatables-bs3/assets/css/datatables.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="../../static/build/assets/stylesheets/theme.css" />

    <!--	 Skin CSS -->
    <link rel="stylesheet" href="../../static/build/assets/stylesheets/skins/default.css" />

    <!--	 Theme Custom CSS-->
    <link rel="stylesheet" href="../../static/build/assets/stylesheets/theme-custom.css">

    <!-- Head Libs -->
    <script src="../../static/build/assets/vendor/modernizr/modernizr.js"></script>

    <style>
        body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #fff;
        }

        .bg-dark {
            background-color: #343a40 !important;
        }

        .navbar {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 0.5rem 1rem;
        }
        .navbar-expand-lg {

            flex-flow: row nowrap;

            justify-content: flex-start;
        }
        .fixed-top {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
        }
        .navbar-nav {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
        }

    </style>

    <script src="../../static/build/jquery.min.js"></script>
    <script>
        jQuery(document).ready(function($) {
            $('.theme-login').click(function(){
                $('.theme-popover-mask').fadeIn(100);
                $('.theme-popover').slideDown(200);
            })
            $('.theme-poptit .close').click(function(){
                $('.theme-popover-mask').fadeOut(100);
                $('.theme-popover').slideUp(200);
            })

        })
    </script>
</head>
<body>
<script>
    function download() {
        let blob = new Blob([], {type: ''}),
            fileName = 'did.json'; // 文件名称
        const link = document.createElement('a'); // 创建a标签
        link.href = window.URL.createObjectURL(blob);
        link.download = fileName;
        link.click(); // 模拟点击a标签
        window.URL.revokeObjectURL(link.href);
    }
    function uploadChain() {
        alert("上链成功！\n" +
            "交易详情：\n"+
            " \"errorCode\": 0, \n" +
            " \"errorMessage\": \"success\", \n" +
            " \"privateKeyHex\": \"0x4fabbf5e596f3d37fb5b589c77d523aa62f3d7500efd95ad07a7dbd7b839c9dd\", \n" +
            " \"privateKeyInt\": \"36036166663360927196286692907073039830942617245923719975690185900868029237725\", \n" +
            " \"publicKeyHex\": \"0xae578789ef877204698ae57878f816f9d66d0eb379faef35e85b2a764e2d3f0c9708770f4f3d5b3f5c90413175114fed237b2af7b8b61f0d0c9d6604d503093\", \n" +
            " \"publicKeyInt\": \"10867231154130152278048993979276314526467708307382395206027382754637955719744174758071986682320327192984916588173144660038140617813327289829167584980775059\", \n" +
            " \"weId\": \"did:weid:CHAIN_ID:0xF0311be2437672e42190767A8Dc53e5E88a03767\"")
        document.getElementById("target").click()
        document.getElementById("demo").innerHTML = "<tr class=\"gradeA\">\n" +
            "                            <td>weid:0xF0311be2...</td>\n" +
            "                            <td>0xae578789...</td>\n" +
            "                            <td>已上链</td>\n" +
            "                            <td class=\"actions\">\n" +
            "                                <a class=\"btn btn-outline-secondary\" href=\"{{ url_for('public.tables_data') }}\">详情</a>\n" +
            "                                <!--\t<a href=\"#\" class=\"hidden on-editing save-row\" ><i class=\"fa fa-save\"></i></a>-->\n" +
            "                                <!-- <a class=\"btn btn-outline-secondary\" onclick=\"uploadChain()\">上链</a>-->\n" +
            "                                 <a class=\"btn btn-outline-secondary theme-login\" href=\"javascript:;\">上链</a>\n" +
            "                                 <div class=\"theme-popover\">\n" +
            "                                     <div class=\"theme-poptit\">\n" +
            "                                         <a id=\"target\" href=\"javascript:;\" title=\"关闭\" class=\"close\">×</a>\n" +
            "                                         <h3>DID导入</h3>\n" +
            "                                     </div>\n" +
            "                                     <div class=\"theme-popbod dform\">\n" +
            "                                         <div class=\"theme-signin\" name=\"daoru\"  >\n" +
            "                                             <ol>\n" +
            "\n" +
            "                                                 <li>\n" +
            "\n" +
            "                                                     <select class=\"ipt\" >\n" +
            "                                                         <option>WeIdentity：ChainID：1</option>\n" +
            "                                                     </select>\n" +
            "                                                 </li>\n" +
            "                                                 <li><strong>PrivateKey:</strong><input class=\"ipt\" type=\"password\" name=\"pwd\" value=\"\" size=\"20\" /></li>\n" +
            "                                                 <li><button class=\"btn btn-primary\"  onclick=\"uploadChain()\"  />确认</li>\n" +
            "                                             </ol>\n" +
            "                                         </div>\n" +
            "                                     </div>\n" +
            "                                 </div>\n" +
            "                                 <button class=\"btn btn-outline-secondary\" onclick=\"download()\">导出</button>\n" +
            "\n" +
            "                                 <a href=\"#\" class=\"hidden on-editing cancel-row\"><i class=\"fa fa-times\"></i></a>\n" +
            "                                 <!--\t<a href=\"#\" class=\"on-default edit-row\" ><i class=\"fa fa-pencil\"></i></a>-->\n" +
            "                                <a href=\"#\" class=\"on-default remove-row\"><i class=\"fa fa-trash-o\"></i></a>\n" +
            "                            </td>\n" +
            "                        </tr>\n" +
            "                        <tr class=\"gradeA\">\n" +
            "                            <td>weid:0xJ0213bf2...</td>\n" +
            "                            <td>0x4fabbff2...</td>\n" +
            "                            <td>已上链</td>\n" +
            "                            <td class=\"actions\">\n" +
            "                                <a class=\"btn btn-outline-secondary\" v-on:click=\"get_addr(key_type)\">详情</a>\n" +
            "                                <!--\t<a href=\"#\" class=\"hidden on-editing save-row\" ><i class=\"fa fa-save\"></i></a>-->\n" +
            "                                <a class=\"btn btn-outline-secondary\" v-on:click=\"get_addr(key_type)\">上链</a>\n" +
            "                                <a class=\"btn btn-outline-secondary\" v-on:click=\"get_addr(key_type)\">导出</a>\n" +
            "                                <a href=\"#\" class=\"hidden on-editing cancel-row\"><i class=\"fa fa-times\"></i></a>\n" +
            "                                <!--\t<a href=\"#\" class=\"on-default edit-row\" ><i class=\"fa fa-pencil\"></i></a>-->\n" +
            "                                <a href=\"#\" class=\"on-default remove-row\"><i class=\"fa fa-trash-o\"></i></a>\n" +
            "                            </td>\n" +
            "                        </tr>\n"


    }
    function daoru() {
        setTimeout(function () {
            if (confirm("DID数据正确，是否确认添加!")) {
                document.getElementById("target").click()
                document.getElementById("demo").innerHTML = "<tr class=\"gradeA\">\n" +
                    "                            <td>weid:0xF0311be2...</td>\n" +
                    "                            <td>0xae578789...</td>\n" +
                    "                            <td>已上链</td>\n" +
                    "                            <td class=\"actions\">\n" +
                    "                                <a class=\"btn btn-outline-secondary\" href=\"{{ url_for('public.tables_data') }}\">详情</a>\n" +
                    "                                <!--\t<a href=\"#\" class=\"hidden on-editing save-row\" ><i class=\"fa fa-save\"></i></a>-->\n" +
                    "                                <!-- <a class=\"btn btn-outline-secondary\" onclick=\"uploadChain()\">上链</a>-->\n" +
                    "                                 <a class=\"btn btn-outline-secondary theme-login\" href=\"javascript:;\">上链</a>\n" +
                    "                                 <div class=\"theme-popover\">\n" +
                    "                                     <div class=\"theme-poptit\">\n" +
                    "                                         <a id=\"target\" href=\"javascript:;\" title=\"关闭\" class=\"close\">×</a>\n" +
                    "                                         <h3>DID导入</h3>\n" +
                    "                                     </div>\n" +
                    "                                     <div class=\"theme-popbod dform\">\n" +
                    "                                         <div class=\"theme-signin\" name=\"daoru\"  >\n" +
                    "                                             <ol>\n" +
                    "\n" +
                    "                                                 <li>\n" +
                    "\n" +
                    "                                                     <select class=\"ipt\" >\n" +
                    "                                                         <option>WeIdentity：ChainID：1</option>\n" +
                    "                                                     </select>\n" +
                    "                                                 </li>\n" +
                    "                                                 <li><strong>PrivateKey:</strong><input class=\"ipt\" type=\"password\" name=\"pwd\" value=\"\" size=\"20\" /></li>\n" +
                    "                                                 <li><button class=\"btn btn-primary\"  onclick=\"uploadChain()\"  />确认</li>\n" +
                    "                                             </ol>\n" +
                    "                                         </div>\n" +
                    "                                     </div>\n" +
                    "                                 </div>\n" +
                    "                                 <button class=\"btn btn-outline-secondary\" onclick=\"download()\">导出</button>\n" +
                    "\n" +
                    "                                 <a href=\"#\" class=\"hidden on-editing cancel-row\"><i class=\"fa fa-times\"></i></a>\n" +
                    "                                 <!--\t<a href=\"#\" class=\"on-default edit-row\" ><i class=\"fa fa-pencil\"></i></a>-->\n" +
                    "                                <a href=\"#\" class=\"on-default remove-row\"><i class=\"fa fa-trash-o\"></i></a>\n" +
                    "                            </td>\n" +
                    "                        </tr>\n" +
                    "                        <tr class=\"gradeA\">\n" +
                    "                            <td>weid:0xJ0213bf2...</td>\n" +
                    "                            <td>0x4fabbff2...</td>\n" +
                    "                            <td>已上链</td>\n" +
                    "                            <td class=\"actions\">\n" +
                    "                                <a class=\"btn btn-outline-secondary\" v-on:click=\"get_addr(key_type)\">详情</a>\n" +
                    "                                <!--\t<a href=\"#\" class=\"hidden on-editing save-row\" ><i class=\"fa fa-save\"></i></a>-->\n" +
                    "                                <a class=\"btn btn-outline-secondary\" v-on:click=\"get_addr(key_type)\">上链</a>\n" +
                    "                                <a class=\"btn btn-outline-secondary\" v-on:click=\"get_addr(key_type)\">导出</a>\n" +
                    "                                <a href=\"#\" class=\"hidden on-editing cancel-row\"><i class=\"fa fa-times\"></i></a>\n" +
                    "                                <!--\t<a href=\"#\" class=\"on-default edit-row\" ><i class=\"fa fa-pencil\"></i></a>-->\n" +
                    "                                <a href=\"#\" class=\"on-default remove-row\"><i class=\"fa fa-trash-o\"></i></a>\n" +
                    "                            </td>\n" +
                    "                        </tr>\n" +
                    "                        <tr class=\"gradeA\">\n" +
                    "                            <td>weid:0xCH921bg2...</td>\n" +
                    "                            <td>0x3fjksd2j...</td>\n" +
                    "                            <td>未上链</td>\n" +
                    "                            <td class=\"actions\">\n" +
                    "                                <a class=\"btn btn-outline-secondary\" v-on:click=\"get_addr(key_type)\">详情</a>\n" +
                    "                                <!--\t<a href=\"#\" class=\"hidden on-editing save-row\" ><i class=\"fa fa-save\"></i></a>-->\n" +
                    "                                <a class=\"btn btn-outline-secondary\" v-on:click=\"get_addr(key_type)\">上链</a>\n" +
                    "                                <a class=\"btn btn-outline-secondary\" v-on:click=\"get_addr(key_type)\">导出</a>\n" +
                    "                                <a href=\"#\" class=\"hidden on-editing cancel-row\"><i class=\"fa fa-times\"></i></a>\n" +
                    "                                <!--\t<a href=\"#\" class=\"on-default edit-row\" ><i class=\"fa fa-pencil\"></i></a>-->\n" +
                    "                                <a href=\"#\" class=\"on-default remove-row\"><i class=\"fa fa-trash-o\"></i></a>\n" +
                    "                            </td>\n" +
                    "                        </tr>"
            }
        }, 100);

    }
</script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
    <a class="navbar-brand" href="/">
        SUIBE DID Data Manager
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">DID工具</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/about/">DID身份数据管理</a>
                <span class="sr-only">(current)</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('public.Visualization_tools') }}">可视化功能</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about/">数据共享</a>
            </li>
        </ul>
        <ul class="navbar-nav my-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/user/">Logged in as admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout/">
                    <i class="fa fa-sign-out"></i>
                </a>
            </li>
        </ul>

    </div><!-- /.navbar-collapse -->
</nav>
<header></header>
<main role="main">
    <div class="jumbotron">
        <div class="container">

            <h4 class="display-4">欢迎访问<br>SUIBE DID Data Manager！</h4>

            <p><a href="" class="btn btn-primary btn-large">查看 Github 源码……</a></p>
        </div>
    </div><!-- /.jumbotron -->
    <section class="body">

        <div class="container">

            <!-- start: page -->
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                    </div>

                    <h2 class="panel-title">DID身份管理</h2>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-md">

                                <a class="btn btn-primary btn-large theme-login" href="javascript:;">导入DID</a>

                                <div class="theme-popover">
                                    <div class="theme-poptit">
                                        <a id="target" href="javascript:;" title="关闭" class="close">×</a>
                                        <h3>DID导入</h3>
                                    </div>
                                    <div class="theme-popbod dform">
                                        <div class="theme-signin" name="daoru"  >
                                            <ol>

                                                <li>

                                                    <select class="ipt" >
                                                        <option>WeID</option>
                                                        <option>MicrosoftDID</option>
                                                        <option>uPort</option>
                                                    </select>
                                                </li>
                                                <li><strong>PrivateKey:</strong><input class="ipt" type="password" name="pwd" value="" size="20" /></li>
                                                <li><button class="btn btn-primary"  onclick="daoru()"  />导入</li>

                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped mb-none" id="datatable-editable">
                        <thead>
                        <tr>
                            <th>DID</th>
                            <th>PublicKey</th>
                            <th>State</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody id="demo">


                        <tr class="gradeA">
                            <td>weid:0xF0311be2...</td>
                            <td>0xae578789...</td>
                            <td>已上链</td>
                            <td class="actions">
                                <a class="btn btn-outline-secondary" href="{{ url_for('public.tables_data') }}">详情</a>
                                <!--	<a href="#" class="hidden on-editing save-row" ><i class="fa fa-save"></i></a>-->
                                <!-- <a class="btn btn-outline-secondary" onclick="uploadChain()">上链</a>-->
                                <a class="btn btn-outline-secondary theme-login" href="javascript:;">上链</a>

                                <button class="btn btn-outline-secondary" onclick="download()">导出</button>

                                <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                                <!--	<a href="#" class="on-default edit-row" ><i class="fa fa-pencil"></i></a>-->
                                <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr class="gradeA">
                            <td>weid:0xJ0213bf2...</td>
                            <td>0x4fabbff2...</td>
                            <td>已上链</td>
                            <td class="actions">
                                <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">详情</a>
                                <!--	<a href="#" class="hidden on-editing save-row" ><i class="fa fa-save"></i></a>-->
                                <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">上链</a>
                                <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">导出</a>
                                <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                                <!--	<a href="#" class="on-default edit-row" ><i class="fa fa-pencil"></i></a>-->
                                <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>




                        </tbody>
                    </table>
                </div>

            </section>
            <!-- end: page -->

        </div>

    </section>
</main>

<div id="dialog" class="modal-block mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Are you sure?</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-text">
                    <p>Are you sure that you want to delete this row?</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button id="dialogConfirm" class="btn btn-primary">Confirm</button>
                    <button id="dialogCancel" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </footer>
    </section>
</div>


<!-- Vendor -->
<script src="../../static/build/assets/vendor/jquery/jquery.js"></script>
<script src="../../static/build/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
<script src="../../static/build/assets/vendor/bootstrap/js/bootstrap.js"></script>
<script src="../../static/build/assets/vendor/nanoscroller/nanoscroller.js"></script>
<script src="../../static/build/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="../../static/build/assets/vendor/magnific-popup/magnific-popup.js"></script>
<script src="../../static/build/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

<!-- Specific Page Vendor -->
<script src="../../static/build/assets/vendor/select2/select2.js"></script>
<script src="../../static/build/assets/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="../../static/build/assets/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="../../static/build/assets/javascripts/theme.js"></script>

<!-- Theme Custom -->
<script src="../../static/build/assets/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="../../static/build/assets/javascripts/theme.init.js"></script>


<!-- Examples -->
<script src="../../static/build/assets/javascripts/tables/examples.datatables.editable.js"></script>
</body>
</html>