<!doctype html>
<html class="fixed">
<head>

	<!-- Basic -->
	<meta charset="UTF-8">

	<title>Editable Tables | Okler Themes | Porto-Admin</title>
	<meta name="keywords" content="HTML5 Admin Template" />
	<meta name="description" content="Porto Admin - Responsive HTML5 Template">
	<meta name="author" content="okler.net">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link
			rel="stylesheet"
			type="text/css"
			href="../../static/build/main_css.bundle.css"
	/>

<!--	<link rel="stylesheet" href="../../static/build/index.css" />-->

	<!-- Web Fonts  -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
   <link rel="stylesheet" href="../../static/build/assets/vendor/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="../../static/build/assets/vendor/font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="../../static/build/assets/vendor/magnific-popup/magnific-popup.css" />
	<link rel="stylesheet" href="../../static/build/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

	<!-- Specific Page Vendor CSS -->
	<link rel="stylesheet" href="../../static/build/assets/vendor/select2/select2.css" />
	<link rel="stylesheet" href="../../static/build/assets/vendor/jquery-datatables-bs3/assets/css/datatables.css" />

	<!-- Theme CSS -->
	<link rel="stylesheet" href="../../static/build/assets/stylesheets/theme.css" />

<!--	 Skin CSS -->
	<link rel="stylesheet" href="../../static/build/assets/stylesheets/skins/default.css" />

<!--	 Theme Custom CSS-->
	<link rel="stylesheet" href="../../static/build/assets/stylesheets/theme-custom.css">

	<!-- Head Libs -->
	<script src="../../static/build/assets/vendor/modernizr/modernizr.js"></script>

	<style>
        body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #fff;
        }

		.bg-dark {
			background-color: #343a40 !important;
		}

		.navbar {
			position: relative;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-ms-flex-align: center;
			align-items: center;
			-ms-flex-pack: justify;
			justify-content: space-between;
			padding: 0.5rem 1rem;
		}
		.navbar-expand-lg {

			flex-flow: row nowrap;

			justify-content: flex-start;
		}
		.fixed-top {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			z-index: 1030;
		}
		.navbar-nav {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-direction: column;
			flex-direction: column;
			padding-left: 0;
			margin-bottom: 0;
			list-style: none;
		}

	</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
	<a class="navbar-brand" href="/">
		SUIBE DID Data Manager
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item ">
				<a class="nav-link" href="/">DID引擎</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/about/">DID身份数据管理</a>
                <span class="sr-only">(current)</span>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/about/">可视化功能</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/about/">数据共享</a>
			</li>




		</ul>


	</div><!-- /.navbar-collapse -->
</nav>

<header></header>
<main role="main">
	<div class="jumbotron">
		<div class="container">

			<h4 class="display-4">欢迎访问<br>SUIBE DID Data Manager！</h4>

			<p><a href="" class="btn btn-primary btn-large">查看 Github 源码……</a></p>
		</div>
	</div><!-- /.jumbotron -->
<section class="body">




<div class="container">

			<!-- start: page -->
			<section class="panel">
				<header class="panel-heading">
					<div class="panel-actions">
						<a href="#" class="fa fa-caret-down"></a>
						<a href="#" class="fa fa-times"></a>
					</div>

					<h2 class="panel-title">Weid:0xF0311be2ccE44a9430AD6d86c6AAB97D5d1058bD 所管理数据</h2>
				</header>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-6">
							<div class="mb-md">
                                <input type="file" id="btn_file" style="display:none">
								<button  type="button" class="btn btn-primary" onclick="F_Open_dialog()">导入数据 <i class="fa fa-plus"></i></button>
                                <button  class="btn btn-primary" >导出Document <i class="fa fa-minus"></i></button>
                                <a  class="btn btn-primary" href="Identity_manager.html">返回 <i class="fa fa-forward"></i></a>
							</div>

						</div>

					</div>
					<table class="table table-bordered table-striped mb-none" id="datatable-editable">
						<thead>
						<tr>
							<th>ID</th>
							<th>Type</th>
							<th>Issue Time</th>
							<th>Actions</th>
						</tr>
						</thead>
						<tbody>
						<tr class="gradeX">
							<td>1</td>
							<td>金融比赛证书</td>
							<td>2020-06-09</td>
							<td class="actions">
								 <a class="btn btn-outline-secondary" href="../certificate_style_normal.html">详情</a>
							<!--	<a href="#" class="hidden on-editing save-row" ><i class="fa fa-save"></i></a>-->
								 <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">上链</a>
                                <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">导出</a>
                                <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">验签</a>
                                <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
							<!--	<a href="#" class="on-default edit-row" ><i class="fa fa-pencil"></i></a>-->
								<a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
							</td>
						</tr>
						<tr class="gradeC">
							<td>2</td>
							<td>创新大赛证书</td>
							<td>2020-07-10</td>
							<td class="actions">
                                <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">详情</a>
							<!--	<a href="#" class="hidden on-editing save-row" ><i class="fa fa-save"></i></a>-->
                                <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">上链</a>
                                <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">导出</a>
                                <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">验签</a>
                                <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
							<!--	<a href="#" class="on-default edit-row" ><i class="fa fa-pencil"></i></a>-->
								<a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
							</td>
						</tr>
						<tr class="gradeA">
							<td>3</td>
							<td>教员认证证书
							</td>
							<td>2020-01-03</td>
							<td class="actions">
                                <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">详情</a>
							<!--	<a href="#" class="hidden on-editing save-row" ><i class="fa fa-save"></i></a>-->
                                <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">上链</a>
                                <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">导出</a>
                                <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">验签</a>
                                <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
							<!--	<a href="#" class="on-default edit-row" ><i class="fa fa-pencil"></i></a>-->
								<a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
							</td>
						</tr>
						<tr class="gradeA">
							<td>4</td>
							<td>英语六级证书
							</td>
							<td>2020-06-08</td>
							<td class="actions">
							    <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">详情</a>
							<!--	<a href="#" class="hidden on-editing save-row" ><i class="fa fa-save"></i></a>-->
                                <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">上链</a>
                                <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">导出</a>
                                <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">验签</a>
                                <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
							<!--	<a href="#" class="on-default edit-row" ><i class="fa fa-pencil"></i></a>-->
								<a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
							</td>
						</tr>
						<tr class="gradeA">
							<td>5</td>
							<td>奥林匹克竞赛证书</td>
							<td>2020-07-08</td>
							<td class="actions">
							    <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">详情</a>
							<!--	<a href="#" class="hidden on-editing save-row" ><i class="fa fa-save"></i></a>-->
                                <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">上链</a>
                                <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">导出</a>
                                <a class="btn btn-outline-secondary" v-on:click="get_addr(key_type)">验签</a>
                                <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
							<!--	<a href="#" class="on-default edit-row" ><i class="fa fa-pencil"></i></a>-->
								<a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
							</td>
						</tr>


						</tbody>
					</table>
				</div>
			</section>
			<!-- end: page -->

</div>



</section>
</main>

<div id="dialog" class="modal-block mfp-hide">
	<section class="panel">
		<header class="panel-heading">
			<h2 class="panel-title">Are you sure?</h2>
		</header>
		<div class="panel-body">
			<div class="modal-wrapper">
				<div class="modal-text">
					<p>Are you sure that you want to delete this row?</p>
				</div>
			</div>
		</div>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-md-12 text-right">
					<button id="dialogConfirm" class="btn btn-primary">Confirm</button>
					<button id="dialogCancel" class="btn btn-default">Cancel</button>
				</div>
			</div>
		</footer>
	</section>
</div>
<script>
     function F_Open_dialog()
    {
        document.getElementById("btn_file").click();
    }
</script>
<!-- Vendor -->
<script src="../../static/build/assets/vendor/jquery/jquery.js"></script>
<script src="../../static/build/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
<script src="../../static/build/assets/vendor/bootstrap/js/bootstrap.js"></script>
<script src="../../static/build/assets/vendor/nanoscroller/nanoscroller.js"></script>
<script src="../../static/build/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="../../static/build/assets/vendor/magnific-popup/magnific-popup.js"></script>
<script src="../../static/build/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

<!-- Specific Page Vendor -->
<script src="../../static/build/assets/vendor/select2/select2.js"></script>
<script src="../../static/build/assets/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="../../static/build/assets/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="../../static/build/assets/javascripts/theme.js"></script>

<!-- Theme Custom -->
<script src="../../static/build/assets/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="../../static/build/assets/javascripts/theme.init.js"></script>


<!-- Examples -->
<script src="../../static/build/assets/javascripts/tables/examples.datatables.editable.js"></script>
</body>
</html>